<div id="page">
  <app-home-menu></app-home-menu>
  <div class="container">
    <h2>Gérer vos Profils Conducteurs</h2>
    <hr>
    <p>
      Ici, vous poveez créer des profils contenant les informations du conducteur, de l'assurance et du véhicule assuré
      afin de les utiliser pendant la rédaction du constat.
    </p>
    <p style="color: orangered;">Et si on commençait par créer un profil... ?</p>
    <button class="btn btn-block btn-outline-primary"><img src="../../../assets/img/qr-code.png" width="30" style="float: left;"> Par QR Code</button>
    <button class="btn btn-block btn-outline-primary">Manuellement</button>
  </div>
</div>
