<div id="page">
  <app-home-menu></app-home-menu>
  <div class="container">
    <h2 style="margin-bottom: 30px;">C'est quoi un Constat amiable ? le but de cette application ? Comment l'utilisez ?</h2>
    <p>
      <span style="color: orangered;">Constat amiable se révèle un outil simple à remplir lors d’une collision sans blessé.</span> 
      Il permet aux parties impliquées de s’identifier et de rapporter l’accident à leur assureur respectif très rapidement.
    </p>
    <p style="color: orangered;">Grâce à ce document, il n’est pas nécessaire de demander la présence des policiers sur les lieux d’un simple accrochage.</p>
    <br>
    <h4>Accélérer le règlement du sinistre</h4>
    <p>Le Constat amiable permet aux assureurs d’avoir en main rapidement les informations nécessaires pour préparer l’indemnisation,
       dont les numéros de permis de conduire, de certificat d’immatriculation et d’attestation d’assurance des parties impliquées.</p>
    <br>
    <p>Au moyen des informations fournies dans le Constat amiable, votre assureur pourra déterminer votre part de responsabilité afin de calculer votre indemnité. 
       Pour ce faire, il se basera sur <a href="#">la Convention d’indemnisation directe.</a></p>
    <a href="#">Pour plus d'informations.</a>
  </div>
</div>
