<div id="page">
  <app-home-menu></app-home-menu>
  <div class="container">
    <h2>Besoin d'aide ?</h2>
    <div class="list-group">
      <p style="color: orangered;">
        Les questions les plus posées...
      </p>
      <div class="list-group-item-info">
        Comment Utiliser un profil ?
      </div>
      <div class="list-group-item-info">
        A quoi sert réellemnt l'application ?
      </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
      <h4>Contactez Nous</h4>
      <form class="form-group">
        <input class="form-control" id="email" type="email" placeholder="Adresse email">
        <textarea class="form-control" id="question" rows="3"></textarea>
        <button type="submit" class="btn btn-outline-primary">Soumettre</button>
      </form>
    </div>
  </div>
</div>
